.image-logo{
  max-height: 4.5em;  
}
.nav-bar-li{
    font-size: larger;    
}
.cart-no{
    position: absolute;
    min-height: 1.75em;
    min-width: 1.75em;
    border-radius: 50%;
    font-size: 1em;
    background: blue;
    color: white;
    text-align: center;
    top: -12px;
    right: 2em;
}